* {
  margin: 0;
  padding: 0;
}

body,
.containerAll {
  background-color: #f7f5f7;
  margin-top: 4rem;
}

.checkedBtn,
.optDel,
.dNone {
  display: none;
}

.dBlock {
  display: block;
}

.checkedText {
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
}

.uncheckedText {
  -webkit-text-decoration-line: none;

  /* Safari */
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

span {
  cursor: pointer;
}

.toDoItem {
  background-color: white;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-right: auto;
  margin-left: auto;
}

.todoCont,
.optBtns {
  display: inline-flex;
}

.toDoItem button {
  font-size: 1.6rem;
  border: none;
  background-color: white;
}

.toDoItem h3 {
  margin-left: 1rem;
}

ul {
  padding-left: 0;
}
